# sales-service — only sales_db (MONGO_URI)
PORT=5004
MONGO_URI=mongodb://127.0.0.1:27017/sales_db
JWT_SECRET=must_match_auth_service_secret

# Service-to-service (same as api-gateway targets)
INVENTORY_SERVICE_URL=http://localhost:5003
SUPPLIER_SERVICE_URL=http://localhost:5005
